<h1>Teams</h1>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Stadium</th>
	</tr>
	<% @teams.each do |team| %>
		<tr>
			<td><%= team.name %></td>
			 <td><%= team.stadium %></td>
		</tr>

	<% end %>

</table>

<button>
		<%= link_to 'New team', new_team_path, method: :get %>	
</button>
<br>
<br>
<button>
		<%= link_to 'Back', root_path, method: :get %>	
</button>