<h1>Table</h1>

<table class="table table-striped">
	<tr>
		<th>Name</th>
		<th>Points</th>
		<th>Goals For</th>
	</tr>
	<% @teams.each do |team| %>
		<tr>
			<td><%= team.name %></td>
			 <td><%= team.points %></td>
			 <td><%= team.goals_for %></td> 
		</tr>

	<% end %>

</table>

<button>
		<%= link_to 'Back', leagues_path, method: :get %>	
</button>
