<html>
<head>
	<meta charset="UTF-8">
	<title>League</title>
</head>
<body>
	<h1>Pozuelo League</h1>
	
	<button>
		<%= link_to 'View teams', teams_path %>	
	</button>
	<br>
	<button>
		<%= link_to 'View fixtures', games_path %>	
	</button>
	<br>
	<button>
		<%= link_to 'View table', view_table_path %>	
	</button>
	<br>
	<br>

	<button>
		<%= link_to 'Generate fixture', fixture_path %>	
	</button>
	

	
</body>
</html>